<h1><%= @title %></h1>
<form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $5.00</span>
        <input type="number" name="amount" value="" step=".01">
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-zip-code="true"
            data-description="A month's subscription"
            data-amount="dd"
            data-locale="auto">
    </script>
  </form>
